/* MorphingPagination.css */
.button {
    background-color: #fff;
    width: 10px;
    height: 10px;
    float: left;
    margin-right: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease width;
  }
  
  .button:last-child {
    margin-right: 0;
  }
  
  .button.active {
    width: 35px;
    cursor: auto;
  }
  
  .container {
    margin: 0;
    position: absolute;
    bottom: 14%;
    right: 0;
    left: 0;
    width: 180px;
    height: 20px;
    margin: 0 auto;
    transform: translateY(-50%);
    overflow: hidden;
    z-index: 1;
  }
  